html, body{
  height: 100%;
  width: 100%;
  margin: 0;
}

.header {
    display: flex;
    position: relative;
    background: rgba(0,0,0,.5);
    height: 60px;
    z-index: 2;
    padding: 15px;
    color: white;
    align-items: center;
    font-family: "League Script", cursive;
    font-size: 30px;
}

.buttons{
  margin-left: auto;
}

.buttons :hover {
  text-decoration: underline;
}


img.background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    z-index: -1;
}

button{
  position: relative;
  background-color: transparent;
  border: none;
  color: white;
  font-family: "Kaisei Decol", serif;
  padding: 6px;
}

.homebody1{
  position: relative;
  height: 300px;
  width: auto;
  margin-top: 50%;
  background-color: white;
  padding: 15px;
}

.homebase2{
  border: 1px solid black;
  height: 300px;
  padding: 15px;
  font-size: 30px;
}

.homebase3{
  height: 50px;
  display: flex;
  flex-direction: row;
}

.homebase4{
  flex: 1;
  height: 50px;
  border: 1px solid;
  margin: 20px;
  height: 250px;
  padding: 10px;
  font-size: 15px;
  font-family: "Kaisei Decol", serif;
  text-align: center;
}

.photo-carousel{
  flex: 1;
  position: relative;
  height: 50px;
  border: 1px solid;
  padding: 10px;
  margin: 20px;
}

.footer{
  height: 20px;
  background-color: black;
  bottom: 0%;
}

@media (max-width: 600px) {
  .header {
    flex-direction: column;
    text-align: center;
    height: 50px;
  }
  
  .buttons{
    margin: auto;
  }
}
