pt
HTML
CSS
Result
html, body{
  height: 100%;
  width: 100%;
  margin: 0;
  
}

.header {
    display: flex;
    background: rgba(0,0,0,.5);
    height: 50px;
    width: 100%;
    z-index: 2;
    padding: 15px;
    color: white;
    align-items: center;
    font-family: "League Script", cursive;
    font-size: 30px;
    position: fixed;
    top: 0;
}

.header2 {
    display: flex;
    background: black;
    height: 50px;
    z-index: 2;
    padding: 15px;
    color: white;
    align-items: center;
    font-family: "League Script", cursive;
    font-size: 30px;
    position: fixed;
    top: 0;
    width: 100%;
}

.buttons{
  margin-left: 49%;
}

.buttons button:hover {
  text-decoration: underline;
}


img.background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    z-index: -1;
}


.buttons button{
  position: relative;
  background-color: transparent;
  border: none;
  color: white;
  font-family: "Kaisei Decol", serif;
  padding: 6px;
}

.base{
  margin-top: 80px;
  position: relative;
  height: 800px;
  width: auto;
  background-color: #FFFFF6;
  padding: 20px;
  z-index: -3;
}

.homebody1{
  position: relative;
  height: 400px;
  width: auto;
  margin-top: 50%;
  background-color: #FFFFF6;
  padding: 15px;
}

.homebase2{
  border: 1px solid black;
  height: 350px;
  padding: 15px;
  font-size: 30px;
  text-align: right;
  background-color: white;
}

.heada1{
  border: 1px solid black;
  background-color: white;
  height: 50px;
  padding: 15px;
  font-size: 30px;
  margin: auto;
  text-align: center;
}

.homebase3{
  padding: 20px;
  height: 200px;
  display: flex;
  flex-direction: row;
}

.homebase4{
  flex: 1;
  height: 230px;
  margin-top: 35px;
  padding: 10px;
  font-size: 15px;
  font-family: "Kaisei Decol", serif;
  text-align: left;
}

.photo-carousel{
  flex: 1;
  height: 150%;
  position: relative;
  padding: 5%;
  margin-top: -6%;
}

.photo-carousel img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.homebody2{
  position: relative;
  height: 800px;
  width: auto;
  margin-top: -20px;
  background-color: #FFFFF6;
  padding: 15px;
}

.skillsbase{
  height: 20%;
  display: flex;
  flex-direction: row;
  font-size: 15px;
  font-family: "Kaisei Decol", serif;
}

.skillshead{
  height: 100%;
  padding: 15px;
  font-size: 30px;
  text-align: center;
}

.skill1{
  flex: 1;
  margin-top: 50px;
  border-radius: 50%;
  margin-left: 10px;
  aspect-ratio: 1/1;
  display: inline-block
}

.skill1 img{
  max-height: 100%;
  max-width: 100%;
  border-radius: 50%;
}

.skill2{
  flex: 1;
  margin-top: 50px;
  border-radius: 50%;
  margin-left: 10px;
  aspect-ratio: 1/1;
  display: inline-block
}

.skill2 img{
  max-height: 100%;
  max-width: 100%;
  border-radius: 50%;
}

.skill3{
  flex: 1;
  margin-top: 50px;
  border-radius: 50%;
  margin-left: 10px;
  aspect-ratio: 1/1;
  display: inline-block
}

.skill3 img{
  max-height: 100%;
  max-width: 100%;
  border-radius: 50%;
}

.skillsnames{
  display: flex;
  flex-direction: row;
  margin-top: 30%;
  font-family: "League Script", cursive;
}

.skilln1{
  flex: 1;
}

.skilln2{
  flex: 1;
}

.skilln3{
  flex: 1;
}

.viewgallery button{
  margin-top: 5%;
  font-size: 20px;
  border: 2px black solid;
  background-color: #FFFFF6;
  padding: 10px;
  color: black;
  font-family: "Kaisei Decol", serif;
}

.viewgallery button:hover {
  text-decoration: underline;
  background-color: black;
  color: #FFFFF6;
  transition: .5s;
}

.aboutpage{
  height: 100%;
  width: 100%;
  margin: 0;
}

.bodya1{
  height: 50px;
  background-color: #FFFFF6;
  display: flex;
  flex-direction: row;
}

.bodya2{
  flex: 1;
  height: 100%;
  position: relative;
  margin: 20px;
}

.bodya3{
  flex: 1;
  height: 600%;
  border: 1px solid;
  margin: 20px;
  padding: 10px;
  font-size: 15px;
  font-family: "Kaisei Decol", serif;
  text-align: left;
}

.bodya2 img {
  max-width: 100%;
  min-height: 100%;
  object-fit: contain;
}

.viewcontact button{
  position: absolute;
  margin-top: 300px;
  margin-left: 775px;
  font-size: 20px;
  border: 2px black solid;
  background-color: #FFFFF6;
  padding: 10px;
  color: black;
  font-family: "Kaisei Decol", serif;
}

.viewcontact button:hover {
  text-decoration: underline;
  background-color: black;
  color: #FFFFF6;
  transition: .5s;
}

.investpage{
  background-color: #FFFFF6;
  height: 900%;
  margin-top: 100px;
}

.headeri{
  border: 1px solid black;
  height: 50px;
  padding: 15px;
  font-size: 30px;
  margin: 20px;
  text-align: center;
}

.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  margin-top: 0;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
}

.active, .accordion:hover {
  background-color: #ccc;
}

.panel {
  padding: 0 18px;
  background-color: white;
  display: none;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.service1{
  height: 50px;
  display: flex;
  flex-direction: row;
}

.service1a{
  flex: 1;
  height: 100px;
  aspect-ratio: 1/1;
  border: 1px solid;
  margin: 20px;
  padding: 10px;
  font-size: 15px;
  font-family: "Kaisei Decol", serif;
  text-align: center;
}

.service1b{
  flex: 2;
  height: 200px;
  aspect-ratio: 2/1;
  border: 1px solid;
  margin: 20px;
  padding: 10px;
  font-size: 15px;
  font-family: "Kaisei Decol", serif;
  text-align: center;
}

.service2{
  height: 50px;
  display: flex;
  flex-direction: row;
  margin-top: 40px;
}

.service2a{
  flex: 1;
  height: 100px;
  border: 1px solid;
  margin: 20px;
  padding: 10px;
  font-size: 15px;
  font-family: "Kaisei Decol", serif;
  text-align: center;
}

.service2b{
  flex: 2;
  height: 100px;
  border: 1px solid;
  margin: 20px;
  padding: 10px;
  font-size: 15px;
  font-family: "Kaisei Decol", serif;
  text-align: center;
}

.service3{
  height: 50px;
  display: flex;
  flex-direction: row;
  margin-top: 40px;
}

.service3a{
  flex: 1;
  height: 100px;
  border: 1px solid;
  margin: 20px;
  padding: 10px;
  font-size: 15px;
  font-family: "Kaisei Decol", serif;
  text-align: center;
}

.service3b{
  flex: 2;
  height: 100px;
  border: 1px solid;
  margin: 20px;
  padding: 10px;
  font-size: 15px;
  font-family: "Kaisei Decol", serif;
  text-align: center;
}

.testimonialspage{
  background-color: #FFFFF6;
  height: 400%;
  margin-top: 100px;
}

.headert{
  height: 50px;
  padding: 15px;
  margin-top: 130px;
  font-size: 30px;
  text-align: center;
}

.client1{
  margin-top: 5%;
  height: 20%;
  display: flex;
  flex-direction: row;
}

.photoi{
  flex: 1;
  padding: 20px;
  border-radius: 50%;
  aspect-ratio: 1/1;
  display: inline-block;
}

.photoi img {
  max-width: 100%;
  min-height: 100%;
  border-radius: 50%;
  object-fit: contain;
}

.testimonial1{
  margin-top: 5%;
  height: 100px;
  padding: 40px;
  font-size: 15px;
}

.client2{
  margin-top: 5%;
  height: 50px;
  display: flex;
  flex-direction: row;
}

.testimonial2{
  height: 100px;
  padding: 40px;
  margin-top: 45%;
  font-size: 15px;
}

.client3{
  margin-top: 5%;
  height: 50px;
  display: flex;
  flex-direction: row;
}

.testimonial3{
  height: 100px;
  padding: 40px;
  margin-top: 45%;
  font-size: 15px;
}

.contactpage{
  background-color: #FFFFF6;
  height: 600px;
  margin-top: 100px;
}

.headerc{
  border: 1px solid black;
  height: 50px;
  padding: 15px;
  font-size: 30px;
  margin: 5%;
  text-align: center;
}

.contactinfo{
  border: 1px solid black;
  height: 150px;
  padding: 15px;
  font-size: 30px;
  margin-right: 40px;
  margin-left: 40px;
  margin-top: 20px;
  text-align: center;
}

.headerg{
  height: 50px;
  padding: 15px;
  font-size: 30px;
  margin-top: 130px;
  text-align: center;
}

.pic{
  flex: 1;
  height: 100%;
  width: 100%;
}

.gallerywrap{
  margin-top: -50px;
  display: flex;
  flex-direction: row;
}

.row1{
  flex: 1;
}

.row2{
  flex: 1;
}

.row3{
  flex: 1;
}

.picdiv{
  max-height: 100%;
  padding: 5px;
  margin: 5px;
}

.footer{
  height: 75px;
  background-color: black;
  font-size: 13px;
  color: white;
  text-align: center;
  padding: 25px;
  font-family: "Kaisei Decol", serif;
}

@media (max-width: 600px) {
  .header {
    flex-direction: column;
    text-align: center;
    height: 50px;
  }
  
  .header2 {
    flex-direction: column;
    text-align: center;
    height: 50px;
  }
  
  .buttons{
    margin: auto;
  }
  }
  
